@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div>
    <p>This web application provides an online platform that the client and consultant could efficiently communicate with each other. </p>
    <p>The client can search needed advertisement consultant with name and book the consultation time. The advertisement consultant could update the latest information including the rating they got. </p>
    <p>The client can make an appointment by choosing available time on the calendar and also can send email to the consultant for further contact.</p>
</div>