@{
    ViewBag.Title = "Home Page";
}
<script src="https://kit.fontawesome.com/2cd32a96a2.js" crossorigin="anonymous"></script>

<div class="jumbotron" style="font-weight: bold">
    <i class="fas fa-ad" style="font-size: 90px; color: #6A5ACD"></i>  <h1>WebAdevertise</h1>
    <p class="lead">Find Your Best Advertise Partner</p>
    <div>
        <a href="https://localhost:44372/Account/Register" class="btn btn-primary btn-lg">Get Started &raquo;</a>
        <a href="https://localhost:44372/Home/About" class="btn btn-group btn-lg">Learn more &raquo;</a>
    </div>
</div>

<div class="row" style="padding: 7% 5% 7%">
    <div class="col-md-4" style="text-align: center">
        <i class="fas fa-lightbulb" style="color: #FFD700; font-size: 60px"></i>
        <h2>Professional Advice</h2>
        <p>
            Give you needed suggestion.
        </p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <i class="fab fa-sketch" style="color: #F0E68C; font-size: 60px"></i>
        <h2>Amazing design</h2>
        <p>Provide you fancy advertisement deisgn</p>
    </div>
    <div class="col-md-4" style="text-align: center">
        <i class="fas fa-space-shuttle" style="color: #FFD700; font-size: 60px"></i>
        <h2>High efficiency</h2>
        <p>Fast speed service provided</p>
    </div>
</div>